.dark-theme-button, .light-theme-button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dark-theme-button {
  background-color: black;
  color: white;
  font-weight: bold;
}

.light-theme-button {
  background-color: white;
  color: black;
  font-weight: bold;
}

.done-button-style {
  padding-left: 33px;
  padding-right: 33px;
  border: none;
}